<mat-dialog-content class="dialog-hamburguesa">
    <div class="row justify-content-end">
        <img src="./../../../../assets/imagenes/logohamburguesaBlur.png" class="img-fluid w-50 dialog-imagenLogo" alt="logoEmpresa">
    </div>
    <form class="dialog-form">
        <div class="row col-12">
            <mat-form-field class="w-25 ms-5">
                <mat-label>Nombre</mat-label>
                <input type="text" class="w-100" matInput>
                <mat-error>Nombre es <strong>REQUERIDO</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="row align-items-center">
            <div class="col-5 d-flex justify-content-center">
                <img src="./../../../../assets/imagenes/icone-de-nourriture-hamburger-noir.png" id="img-hamburguesa" class="img-fluid w-50 dialog-productoPreview" srcset="">
            </div>
            <div class="col-3">
                <mat-form-field class="mt-5">
                    <mat-label>Precio</mat-label>
                    <input type="Number" matInput>
                    <mat-error>Precio es <strong>REQUERIDO</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <input type="file" (change)="previewIMG($event)" class="dialog-inputIMG" color="primary" value="">
            </div>
        </div>
        <div class="row">
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput class="dialog-textArea"></textarea>
                </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button mat-raised-button color="primary" (click)="onAddRow()">+ Insertar Extras</button>
            </div>
            <div id="extras" class="mt-4">
                <div class="row" *ngFor="let extra of productoForm.get('extras')?.controls;let index = index;">
                    <div class="col-12 col-xxl-10 d-flex justify-content-around mx-auto">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput [formControl]="extra.get('nombre')">
                            <mat-error>Nombre es <strong>REQUERIDO</strong></mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Precio</mat-label>
                            <input type="Number" matInput [formControl]="extra.get('precio')">
                            <span matSuffix>€&nbsp;</span>
                            <mat-error>Precio es <strong>REQUERIDO</strong></mat-error>
                        </mat-form-field>
                        <div (click)="onRemoveRow(index)">
                            <mat-icon class="mt-3" >
                                <span class=" text-black" >delete</span>
                            </mat-icon>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-hamburguesa" align="center">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Insertar Hamburguesa</button>
</mat-dialog-actions>