<mat-dialog-content class="dialog-hamburguesa">
    <div class="row justify-content-end">
        <img src="./../../../../assets/imagenes/logohamburguesaBlur.png" class="img-fluid col-12 col-md-6 dialog-imagenLogo"
            alt="logoEmpresa">
    </div>
    <form class="dialog-form container" [formGroup]="productoForm">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-column align-items-center">

                <mat-form-field class="col-12 ">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="nombre" tabindex="0">
                    <mat-error>Nombre es <strong>REQUERIDO</strong></mat-error>
                </mat-form-field>
                <mat-form-field class="col-12  ">
                    <mat-label>Precio</mat-label>
                    <input type="Number" matInput formControlName="precio">
                    <mat-error>Precio es <strong>REQUERIDO</strong></mat-error>
                </mat-form-field>
                <h3 class="col-12 text-center">Alérgenos</h3>
            </div>
            <div class="col-12 col-lg-6 col-xxl-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="./../../../../assets/imagenes/icone-de-nourriture-hamburger-noir.png"
                            id="img-hamburguesa" class="img-fluid  dialog-productoPreview" srcset="">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">Choose
                            File</button>
                        <input hidden (change)="previewIMG($event)" (change)="imagenesChange($event)"
                            formControlName="imagen" #fileInput class="dialog-inputIMG" type="file" id="file">
                        <span class="file-name">{{selectedFile?.name}}</span>
                    </div>
                </div>
            </div>

        </div>
    </form>
   
</mat-dialog-content>
<mat-dialog-actions class="dialog-hamburguesa" align="center">
    <button mat-raised-button [mat-dialog-close]="true" [disabled]="!productoForm.valid" (click)="ingresarBebida()"  color="primary"
        class="confirmarBurger">Insertar Bebida</button>
</mat-dialog-actions>