<div class="container-fluid">
    <ng-container *ngIf="!isLoggedIn;else tiendaLogged">
        <header>
            <div class="row">
                <div>

                </div>
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-2 my-2 mx-auto text-center">
                    <img src="../../../assets/imagenes/logoburger.png" alt="logo 24/burger">
                </div>
            </div>
            
        </header>
    </ng-container>
    
    <ng-template #tiendaLogged>
        <header>
            <div class="row">
                <div class="col-2 col-sm-3 col-md-3 col-lg-4 col-xl-2">

                </div>
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2 my-2  mx-auto text-center">
                    <img src="../../../assets/imagenes/logoburger.png" alt="logo 24/burger">
                </div>
                <div class="col-2 col-sm-3 col-md-3 col-lg-4 col-xl-2 d-flex justify-content-end align-items-center">
                    <button (click)="logout()" mat-raised-button class=" my-auto cerrar-sesion me-4" color="primary">Cerrar sesión
                    
                    </button>
                </div>
            </div>
        </header>
        
    </ng-template>

</div>