<div class="sobreNosotros row">
    <div class="col-12 my-5 text-center">
        <span>SOBRE NOSOTROS</span>
    </div>
    <div class="row mt-4">
        <div class="col-6 d-flex flex-column text-center">
            <img class="mx-auto" src="../../../assets/imagenes/logoburger.png" alt="">
    
        </div>
        <div class="col-6 text-center px-5 ">
            <p>Somos un restaurante familiar que ofrece las mejores hamburguesas de la ciudad. </p>
    
            <p> Nuestra pasión por la carne de calidad, el pan artesanal y los ingredientes frescos se refleja en cada
                bocado de nuestras deliciosas creaciones.</p>
    
            <p> Desde las clásicas hamburguesas con queso y bacon, hasta las más originales con salsa barbacoa, aguacate o
                cebolla caramelizada, tenemos una opción para todos los gustos. </p>
    
            <p> Además, contamos con una amplia variedad de acompañamientos, bebidas y postres para completar tu experiencia
                gastronómica. </p>
    
            <p> Ven a visitarnos y disfruta de un ambiente acogedor, un servicio atento y unas hamburguesas irresistibles.
            </p>
    
            <p> Te esperamos en nuestro restaurante, donde te haremos sentir como en casa.</p>
    
        </div>

    </div>
</div>