.dialog{
    &-hamburguesa{
        overflow-x: hidden !important;
        background-color: #DFCAB4;
        
    }

    &-imagenLogo{
        position: absolute;
    }
    &-imagenProducto{
        width: 50%;
    }

    &-title,&-descripcion{
        font-weight: bold !important;
        color: black;
        text-align: justify;
    }
}
