/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Fuente';
    src: url('./assets/fonts/Quantico-Regular.ttf') format("opentype");
}

*{
    font-family: "Fuente" !important;
}
h1{
    font-size: 30px !important;
    font-weight: bold !important;
}