/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Fuente';
    src: url('./assets/fonts/Quantico-Regular.ttf') format("opentype");
}

*{
    font-family: "Fuente" !important;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
//   border-color: #9a3737; /* Cambia el color del borde */
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
//   color: #25a830; /* Cambia el color del espacio entre el borde y el input */
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   color: #5010ff; /* Cambia el color del texto */
// }
