<div id="container" class="container-fluid">
    <div class="banner1 row">
        <div class="col-6 row">
            <div class="my-auto">
                <h1 class="realizapedido col-4 mx-auto p-2 text-center">Realiza tu pedido!</h1>
            </div>
        </div>
        <div class="col-6 " id="box">
            
            <div class="banner">
                <div id="scene" class="scene">
                    <img data-depth="0.1" src="../../../assets/imagenes/banner.png" alt="">
                </div>

            </div>

            

        </div>

    </div>
</div>