<div class="container-fluid pedido">
    
    <div class="row mt-5  mx-auto">
        <div class="col-2 d-none d-md-inline-block text-center">
            <h5>ALÉRGENOS</h5>

        </div>
        <div class="col-12 col-md-9 row justify-content-center">
            <div type="button" class="justify-content-evenly mx-4 postre-card mb-3 text-center row"  *ngFor="let postre of arrPostres">
               <div class="row" (click)="pedirProducto('200ms', '200ms',$event)" [id]="postre._id">
                  <div class="col-8 mt-3 mx-auto ">
                     <h5>{{postre.nombre}}</h5>
                   </div>   
                   <div>
                      <img id={{postre._id}} src="{{postre.imagen}}" alt="la 33">
                   </div>
                   <div class="d-flex justify-content-center align-items-center ">
                      <p class="text-white my-2 d-flex align-items-center descripcion text-center"> {{postre.descripcion | slice:0:150}}...</p>
                   </div>
                   <!-- <mat-divider></mat-divider> -->
                   <div class="d-flex my-2 justify-content-center align-items-center">
                      <h5 class="my-2 "> {{postre.precio}} €</h5>  
                   </div>
               </div> 
             </div>
        </div>
    </div>
 </div>