<div class="container-fluid login">
    <div class="row">
        <h1 class="text-center col-12 login-title mt-3 mb-5">Login</h1>
    </div>
    <div class="row col-4 m-auto">
        <form [formGroup]="formGroupLogin" class="d-flex flex-column login-formulario" (click)="sendLogin()">
            <mat-form-field class="w-50 m-auto">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Introduzca Email" formControlName="email">
                <mat-error>Email es <strong>REQUERIDO</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="w-50 m-auto">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Introduzca Password" formControlName="contrasena">
                <mat-icon matSuffix (click)="togglePasswordVisibility()"><span class="material-icons">visibility</span></mat-icon>
                <mat-error>Contraseña es <strong>REQUERIDO</strong></mat-error>
            </mat-form-field>
            <button mat-raised-button class="m-auto" color="primary">Iniciar Sesión</button>
        </form>
    </div>
</div>
