<div class="container-fluid pedidos">
    <div class="row container mx-auto">
        <div class="row d-flex justify-content-between align-items-end">
            <div class="col-12 col-sm-6 d-inline-block pedidos-volver mt-5" routerLink="/admin/dashboard">
                <mat-icon>
                    <span class="mt-1 material-symbols-outlined">undo</span>
                </mat-icon>
                <p class="m-0 d-inline">Volver atrás</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12 mt-5 text-center">PEDIDOS</h1>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-around">
            <div class="row justify-content-center">
                <h3 class="text-center col-12">Pendientes</h3>
                <mat-card class="row mt-3 col-7 text-center align-items-center" *ngFor="let datos of arrayDatosAux">
                    <div class="col-6 row d-flex justify-content-center">
                        <div>
                            <span>Nº{{datos.Orden}} - {{datos.Nombre}}</span>
                        </div>
                        <div>
                            <span class="text-center">{{datos.NPedido}}</span>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div>
                            <button mat-raised-button color="primary">Ver Comanda</button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="row justify-content-center">
                <h3 class="text-center">En proceso</h3>
                <mat-card class="row mt-3 col-7 text-center align-items-center" *ngFor="let datos of arrayDatosAux">
                    <div class="col-6 row d-flex justify-content-center">
                        <div>
                            <span>Nº{{datos.Orden}} - {{datos.Nombre}}</span>
                        </div>
                        <div>
                            <span class="text-center">{{datos.NPedido}}</span>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="d-flex align-items-center">
                            <div>
                                <mat-icon matTooltip="Volver a imprimir TICKET"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                    class="pedidos-volverNavigation me-5" >print</mat-icon>
                            </div>
                            <button mat-raised-button color="primary">Finalizar Pedido</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>