<div class="container-fluid pedido p-0">
    <mat-drawer-container class="example-container p-0 pedido-drawer" autosize>
        <mat-drawer #drawer position="end" mode="push">
            <div class="row justify-content-center">
                <mat-card class="col-10 mt-3 mb-3">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <img src="./../../../assets/imagenes/La33.png" class="img-fluid pedido-imagen m-auto"
                                alt="imagenAlimento">
                        </div>
                        <div class="col-8">
                            <div class="d-flex flew-row justify-content-between">
                                <h5 class="mt-1">La 33</h5>
                                <mat-icon class="mt-1">delete</mat-icon>
                            </div>
                            <div class="row align-items-center justify-content-around">
                                <ngx-number-spinner [value]="2" [min]="1" class="col-12 col-xl-6"> </ngx-number-spinner>
                                <span class=" pedido-drawer-precio col-12 col-xl-6 text-center">15 € / Unidad</span>
                            </div>
                            <div class="row">
                                <p class="mb-0 col-12">Extras:</p>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="ms-xl-3">Queso</span>
                                    </div>
                                    <div class="col-1">
                                        <span class="ms-3 ms-lg-3">x</span>
                                    </div>
                                    <div class="col-1">
                                        <span class="ms-2 ms-lg-2">1</span>
                                    </div>
                                    <div class="col-1">
                                        <span class="ms-xl-3 d-none d-xl-block">-</span>
                                    </div>
                                    <div class="col-4">
                                        <span class="ms-3 pedido-drawer-precio">0.50€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <mat-divider class="w-75 mb-2"></mat-divider>
            </div>
            <mat-divider></mat-divider>
            <div class="row justify-content-center">
                <div class="col-12 row mt-2 justify-content-center">
                    <h5 class="col-6 pedido-drawer-finalPrice">Productos</h5>
                    <span class="col-6 w-25 pedido-drawer-productos">1</span>
                </div>
                <div class="col-12 row mt-2 justify-content-center">
                    <h4 class="ms-1 ms-lg-5 col-6 mt-1 pedido-drawer-finalPrice">Total (IVA Incluido)</h4>
                    <span class="col-6 w-25 pedido-drawer-finalPrice me-lg-5">30 €</span>
                </div>
            </div>
        </mat-drawer>
        <div>
            <mat-stepper class="pedido" [linear]="true" #stepper [labelPosition]="'bottom'">
                <mat-step [completed]="step1" [editable]="isEditable">
                    <ng-template matStepLabel>
                        <span class="material-symbols-outlined">
                            local_mall
                        </span>
                        <h4 class="d-inline mx-1">/</h4>
                        <span class="material-symbols-outlined">
                            store
                        </span>
                    </ng-template>
                    <app-step1></app-step1>
                </mat-step>
                <mat-step [editable]="isEditable">
                    <div class="d-flex container justify-content-end">
                        <div class="d-inline-block me-5" (click)="omitirPaso('200ms', '200ms','hamburguesa')" type="button">
                            <div class="d-flex">
                                <h6 ><u>OMITIR PASO</u></h6>
                                <span class="material-symbols-outlined">
                                    arrow_forward
                                </span>

                            </div>
                        </div>
                    </div>
                    <ng-template matStepLabel>
                        <span class="material-symbols-outlined">
                            lunch_dining
                        </span>
                    </ng-template>
                    <app-step2></app-step2>
                    <button mat-button matStepperNext>Next</button>
                </mat-step>
                <mat-step [editable]="isEditable">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block " (click)="omitirPaso('200ms', '200ms','bebida')" type="button">
                            <h5 class="d-inline"><u>OMITIR PASO</u></h5>
                            <span class="material-symbols-outlined m-0">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                    <ng-template matStepLabel>
                        <span class="material-symbols-outlined">
                            sports_bar
                        </span>
                    </ng-template>
                    <button mat-button matStepperNext>Next</button>

                </mat-step>
                <mat-step>
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block " (click)="omitirPaso('200ms', '200ms','postre')" type="button">
                            <h5 class="d-inline"><u>OMITIR PASO</u></h5>
                            <span class="material-symbols-outlined m-0">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                    <ng-template matStepLabel>
                        <span class="material-symbols-outlined">
                            icecream
                        </span>
                    </ng-template>

                </mat-step>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-stepper>
        </div>
    </mat-drawer-container>

</div>