<div class="container-fluid pedido">
    
    <div class="row mt-5  mx-auto">
        <div class="col-2 text-center">
            <h5>ALÉRGENOS</h5>

        </div>
        <div class="col-9  row justify-content-center">
            <div class="justify-content-evenly mx-4 hamburguesa-card mb-3 text-center row" *ngFor="let hamburguesa of arrHamburguesas">
                <div class="col-8 mt-3 mx-auto ">
                   {{hamburguesa.nombre}}
                </div>   
                <div>
                   <img id={{hamburguesa._id}} src="{{hamburguesa.imagen}}" alt="la 33">
                </div>
                <div>
                   <p class="text-white mt-2 descripcion"> {{hamburguesa.descripcion}}</p>
                </div>
             </div>
        </div>
    </div>
 </div>