.pedido{
    min-height: 80vh;
}
.bebida-card{
    border-radius: 10%;
 background-color: black;
 color: #CEA174;
 max-width: 350px;
 max-height: 410px;
 min-height: 410px;
}

img{
    width: 100%;
    max-width: 200px;
}

mat-divider{
    background-color: #CEA174;
    max-height: 0px;
}
